/* This file is for your main application css. */
@import "./phoenix.css";

.navbar .account {
  float: right;
}

.navbar a {
  padding: 1em;
  display: inline-block;
}

.centered-form {
  margin-top: 4em;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.centered-form .error {
  margin-bottom: 1em;
  background-color: #fcb8bb;
}

table.big-table {
}

table.big-table td,
table.big-table th {
  text-align: center;
}

table.big-table tr.ok {
  background-color: #bafcb8;
}
table.big-table tr.flagged {
  background-color: #fcb8bb;
}

div.modal {
  display: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 28%;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #e1e1e1;
  background: #fff;
  width: 400px;
}

div.modal button.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  background: transparent;
  border: transparent;
  padding: 1em;
  color: #000;
}

.filters {
  margin: 0 2em;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
